.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.link-unstyled,
.link-unstyled:visited,
.link-unstyled:hover,
.link-unstyled:active,
.link-unstyled:focus,
.link-unstyled:active:hover {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  outline: inherit;
  box-shadow: inherit;
  padding: inherit;
  vertical-align: inherit;
}

.card {
  margin-bottom: 10px;
}

/**
 * Locale switcher and flags
 */

#locale-switcher {
  text-align: right;
}

.flag-img {
  width: 10%;
  aspect-ratio: 4 / 3;
  border: 1px solid #cccccc;
  border-radius: 2px;
  overflow: hidden;
}

/*
 * Sidebar
 */

#sidebar-menu {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding-top: 48px; /* Height of navbar */
  padding-right: 5px;
  padding-left: 5px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/*
 * Tabs
 */
.tab-content {
  border-radius: 0 !important;
  border-top: 0 !important;
}

/*
 * Collapsible cards
 */
.card-header .collapse-icon {
  transition: .3s transform ease-in-out;
}

.card-header .collapsed .collapse-icon {
  transform: rotate(180deg);
}

/*
 * Logo
 */
.logo-ippolis {
  width: 20%;
  filter: invert(100%) sepia(67%) saturate(10%) hue-rotate(240deg) brightness(103%) contrast(100%);
}

.logo-bmbf {
  width: 100%;
}

.logo-nrw {
  width: 100%;
}

/*
 * Backend connection
 */
#backend-connection {
  white-space: nowrap;
}

/*
 * Loader from https: //www.geeksforgeeks.org/how-to-show-page-loading-div-until-the-page-has-finished-loading/
 */
#loader {
  border: 12px solid #f3f3f3;
  display: block;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/*
 * Bootstrap vs. bootstrap-table
 */
.pagination > .page-item > .page-link {
  border: 0;
  background-color: inherit;
}

.pagination > .page-item > .page-link.active {
  background-color: inherit;
}

.modal .btn-primary {
  background-color: #0d6efd !important;
}

.modal .btn-secondary {
  background-color: #6c757d !important;
}

/*
 * Feedback button
 */
#feedback-button {
  position: fixed;
  right: 5px;
  bottom: -4px;
  z-index: 2;
  padding: 3px 6px 3px 6px;
}
