<script>
  import { Table } from "@sveltestrap/sveltestrap";
  import { onMount } from "svelte";
  import { _ } from "svelte-i18n";

  async function initializeTable() {
    jQuery("#table-sbom").bootstrapTable({
      url: "/generated/sbom.json",
      pageSize: 7,
      pagination: false,
      paginationLoop: true,
      paginationParts: ["pageInfo", "pageList"],
      paginationVAlign: "top",
      search: true,
      sortName: "name",
      sortOrder: "asc",
      columns: [{
        field: "name",
        title: "Name",
        sortable: true,
      }, {
        field: "version",
        title: "Version",
        sortable: false,
      }, {
        field: "license",
        title: $_("components.about.SbomTable.license"),
        sortable: true,
      }],
    });
  }

  onMount(() => {
    initializeTable();
  })
</script>

<Table id="table-sbom" class="table table-striped">

</Table>
