<script>
  import { _ } from "svelte-i18n";

  import PreprintResolver from "$lib/components/PreprintResolver.svelte";
  import PageHeader from "$lib/components/PageHeader.svelte";
</script>

<PageHeader heading="{$_("page.preprint.nav")}" intro="{$_("page.preprint.intro")}" />

<PreprintResolver />
