<script>
  import { onMount } from "svelte";
  import { _, locale } from "svelte-i18n";

  import { page } from "$app/stores";

  import { initializeLocales } from "$lib/utils/i18n";

  import { Icon } from "@sveltestrap/sveltestrap";

  initializeLocales();

  let doneLoading = false;

  onMount(() => {
    doneLoading = true;
  });
</script>

<svelte:head>
  <title>PreprintResolver</title>
</svelte:head>

<div id="loader" style="visibility: {doneLoading ? 'hidden' : 'visible'};"></div>

<div class="container-fluid p-0" style="visibility: {doneLoading ? 'visible' : 'hidden'};">
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <span class="navbar-brand col-md-3 col-lg-2 me-0 px-3 align-middle" href="/">
      <a class="link-unstyled" href="https://write.ippolis.de">IPPOLIS Write</a>
      <span id="locale-switcher" class="align-middle h-100">
        <img
          class="flag-img float-end ms-1"
          alt="DE"
          on:click="{() => $locale = "de_DE"}"
          on:keypress="{() => $locale = "de_DE"}"
          src="/img/flags/de.svg"
        />
        <img
          class="flag-img float-end"
          alt="EN"
          on:click="{() => $locale = "en_US"}"
          on:keypress="{() => $locale = "en_US"}"
          src="/img/flags/gb.svg"
        />
      </span>
    </span>
    <span class="flex-grow-1"></span>
    <span style="text-align: right">
    <a
      href="https://gitlab.com/ippolis_wp3/preprint-resolver"
      target="_blank"
      rel="noreferrer"
    >
      <Icon name="git" />
    </a>
    <a
      href="https://ippolis.de"
      target="_blank"
      rel="noreferrer"
    >
      <img class="logo-ippolis"
        src="https://ippolis.pages.inf.fh-dortmund.de/www/img/ippolis_logo.svg"
        alt="IPPOLIS Logo" />
    </a>
    </span>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav
        id="sidebar-menu"
        class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
      >
        <div class="position-sticky pt-3 h-100">
          <ul class="nav flex-column flex-nowrap h-100">
            <li class="nav-item">
              <a
                class="nav-link"
                class:active="{$page.url.pathname === '/preprint'}"
                aria-current="page"
                href="/preprint"
              >
                <Icon name="search" />
                {$_("page.preprint.nav")}
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                class:active="{$page.url.pathname === '/about'}"
                aria-current="page"
                href="/about"
              >
                <Icon name="people" />
                {$_("page.about.nav")}
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                rel="noreferrer noopener"
                target="_blank"
                href="https://doi.org/10.1007/978-3-031-43849-3_5"
              >
                <Icon name="book" />
                {$_("page.publication.nav")}
                <Icon name="box-arrow-up-right" style="font-size: 0.75rem;" />
              </a>
            </li>
            <li class="nav-item flex-grow-1"><!-- fill space --></li>
            <li class="nav-item">
              <a
                class="nav-link"
                class:active="{$page.url.pathname === '/imprint'}"
                aria-current="page"
                href="/imprint"
              >
                {$_("page.imprint.nav")}
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                class:active="{$page.url.pathname === '/privacy'}"
                aria-current="page"
                href="/privacy"
              >
                {$_("page.privacy.nav")}
              </a>
            </li>
            <li class="nav-item">
              <img class="logo-bmbf" src="https://ippolis.pages.inf.fh-dortmund.de/www/img/bmbf_logo.svg"
                alt="BMBF Logo" />
                  <img class="logo-nrw"
                    src="/img/sponsors/NRW_logo.png"
                    alt="NRW Logo" /><br />
              <span>{$_("layout.support_code")} 16DHBKI050</span>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <slot />
      </main>
    </div>
  </div>
</div>
