<script>

  import { _ } from "svelte-i18n";

  import {
    Button,
    Icon
  } from "@sveltestrap/sveltestrap";

  export let text = "";
  let buttonColor = "secondary"

  function copyTextToClipboard() {
    navigator.clipboard.writeText(text)
      .then(() => {
        temporarilySetButtonColor("success");
      })
      .catch(err => {
        temporarilySetButtonColor("danger");
      });
  }

  function temporarilySetButtonColor(color) {
    buttonColor = color;
    setTimeout(() => buttonColor = "secondary", 2500);
  }
</script>

<Button color="{buttonColor}" on:click="{copyTextToClipboard}">
  {$_("component.button.CopyToClipboardButton.copy_to_clipboard")}
  {#if buttonColor == "success"}
    <Icon name="check-lg" />
  {/if}
</Button>
