<script>
  export let disabled = false;
  export let targetId;
  export let startCollapsed = false;

  import {
    Icon,
  } from "@sveltestrap/sveltestrap";

  let collapsed = startCollapsed;

  function toggleCollapse() {
    if (!disabled) {
      collapsed = !collapsed;
    }
  }
</script>

<a data-toggle="collapse" class="link-dark" class:disabled class:collapsed="{collapsed}" on:click="{toggleCollapse}"
  id="{targetId}-toggler"
  aria-expanded="true" aria-controls="{targetId}"
>
  <Icon name="chevron-up" class="collapse-icon float-end ms-3" />
</a>
