<script>
  import newUniqueId from "locally-unique-id-generator";
  import { Card, CardBody, CardHeader, CardTitle, Collapse, Spinner } from "@sveltestrap/sveltestrap";
  import CollapseToggler from "./CollapseToggler.svelte";

  export let jsonObject;
  export let title = "JSON";
  export let startCollapsed = true;

  const id = newUniqueId();

  function onOpen() {
    if (jsonObject && typeof jsonObject !== "string") {
      jQuery(`#${id}`).jsonViewer(jsonObject, {
        collapsed: true,
        rootCollapsable: false,
      });
    } else {
      jQuery(`#${id}`).text(jsonObject);
    }
  }

</script>

<Card>
  <CardHeader>
    <CardTitle>
      {title}
      <CollapseToggler
        targetId="{id}-collapse"
        startCollapsed="{startCollapsed}"
      />
    </CardTitle>
  </CardHeader>
  <Collapse
    isOpen="{!startCollapsed}"
    id="{id}-collapse"
    toggler="{id}-collapse-toggler"
    on:open="{onOpen}"
  >
    <CardBody>
      <pre id="{id}"><Spinner size="sm" /></pre>
    </CardBody>
  </Collapse>
</Card>
