<script>
  export let heading;
  export let intro = "";
</script>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">
    {heading}
  </h2>
</div>


{#if intro}
<p>
  {@html intro}
</p>
{/if}
