<script>
  import { _ } from "svelte-i18n";

  import { SuccessJsonResponse } from "$lib/utils/json";
  import { createRequestTracker, fetchJsonGet } from "$lib/utils/request";

  import {
    Button,
    Card,
    CardBody,
    CardHeader,
    CardTitle,
    Form,
    FormGroup,
    Icon,
    Input,
    Label,
    Spinner,
    Table,
  } from "@sveltestrap/sveltestrap";

  import JsonViewCard from "./JsonViewCard.svelte";
  import Result from "./Result.svelte";

  let arxivId;
  let result;

  let requestTracker = createRequestTracker();

  async function resolveArxiv() {
    result = null;
    requestTracker.inProgress = true;
    const jsonResponse = await fetchJsonGet("/arxiv/resolve", { arxivId });
    requestTracker.inProgress = false;

    if (jsonResponse instanceof SuccessJsonResponse) {
      result = jsonResponse.data;
    }

    // TODO remove as soon as backend gives proper message
    if (!result) {
      result = $_("component.PreprintResolver.error.no_result");
    }
  }

  function extractArxivIdFromUrl(url) {
    return url.substring(21);
  }

  function extractDoi(resultArxiv) {
    return extractDoiLink(resultArxiv).substring(18);
  }

  function extractDoiLink(resultArxiv) {
    for (const link of resultArxiv.otherLinks) {
      if (link.includes("http://dx.doi.org/")) {
        return link;
      }
    }

    return false;
  }

  function formatAuthors(authors) {
    let output = "";
    for (const author of authors) {
      output += author + "<br />";
    }

    return output;
  }

  function formatAdditionalInformation(additionalInfos) {
    let output = "";
    for (const info of additionalInfos) {
      output += info + "<br />";
    }
    return output;
  }

  function formatCategories(categories) {
    let output = "";
    for (const category of categories) {
      output += category + "<br />";
    }

    return output;
  }

  function hasAdditionalInfo(infos) {
    return infos.length > 0;
  }

  function hasDoi(resultArxiv) {
    return !!extractDoiLink(resultArxiv);
  }
</script>

<Card>
  <CardHeader>
    <CardTitle>{$_("component.PreprintResolver.title")}</CardTitle>
  </CardHeader>
  <CardBody>
    <Form on:submit="{resolveArxiv}">
      <FormGroup>
        <Label for="arxiv-id">{$_("component.PreprintResolver.form.arxiv_id.label")}</Label>
        <Input
          id="arxiv-id"
          bind:value="{arxivId}"
          placeholder="{$_("component.PreprintResolver.form.arxiv_id.placeholder")}"
        />
      </FormGroup>
      <Button color="primary">
        <Icon name="search" />
        {#if requestTracker.inProgress}
          <Spinner size="sm" />
        {/if}
      </Button>
    </Form>
    {#if requestTracker.inProgress}
      <br />
      <span>{$_("component.PreprintResolver.request_in_progress")}</span>
    {/if}
  </CardBody>
</Card>


{#if result}
  <Card>
    <CardHeader>
      <CardTitle>
        {$_("component.PreprintResolver.result.arxiv.title")}
      </CardTitle>
    </CardHeader>
    <CardBody>
      {#if result.arxiv}
        <Table>
          <tbody>
            <tr>
              <th scope="row">
                arXiv ID
              </th>
              <td>
                <a target="_blank" rel="noreferrer" href="{result.arxiv.id}">
                  {extractArxivIdFromUrl(result.arxiv.id)}
                  <Icon name="box-arrow-up-right" />
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">
                {$_("component.PreprintResolver.result.arxiv.table.authors")}
              </th>
              <td>{@html formatAuthors(result.arxiv.authors)}</td>
            </tr>
            <tr>
              <th scope="row">
                {$_("component.PreprintResolver.result.arxiv.table.title")}
              </th>
              <td>{result.arxiv.title}</td>
            </tr>
            <tr>
              <th scope="row">
                DOI
              </th>
              <td>
                {#if hasDoi(result.arxiv)}
                  <a target="_blank" rel="noreferrer" href="{extractDoiLink(result.arxiv)}">
                    {extractDoi(result.arxiv)}
                    <Icon name="box-arrow-up-right" />
                  </a>
                {:else}
                  {$_("component.PreprintResolver.result.arxiv.table.no_doi")}
                {/if}
              </td>
            </tr>
            <tr>
              <th scope="row">
              {$_("component.PreprintResolver.result.arxiv.table.published")}
              </th>
              <td>{result.arxiv.published}</td>
            </tr>
            <tr>
              <th scope="row">
                {$_("component.PreprintResolver.result.arxiv.table.updated")}
              </th>
              <td>{result.arxiv.updated}</td>
            </tr>
            <tr>
              <th scope="row">
                {$_("component.PreprintResolver.result.arxiv.table.categories")}
              </th>
              <td>{@html formatCategories(result.arxiv.categories)}</td>
            </tr>
            {#if hasAdditionalInfo(result.arxiv.additionalInfo)}
              <tr>
                <th scope="row">
                  {$_("component.PreprintResolver.result.arxiv.table.additionalinfo")}
                </th>
                <td>{@html formatAdditionalInformation(result.arxiv.additionalInfo)}</td>
              </tr>
            {/if}
          </tbody>
        </Table>
      {:else}
        {result}
      {/if}
    </CardBody>
  </Card>

  <Card>
    <CardHeader>
      <CardTitle>
        {$_("component.PreprintResolver.result.semantic_scholar.title")}
      </CardTitle>
    </CardHeader>
    <CardBody>
      {#if result.semantic_scholar && result.semantic_scholar.length > 0}
        {#each result.semantic_scholar as r}
          <Result result="{r}" />
        {/each}
      {:else}
        {$_("component.PreprintResolver.result.semantic_scholar.no_information")}
      {/if}
    </CardBody>
  </Card>

  <Card>
    <CardHeader>
      <CardTitle>
        {$_("component.PreprintResolver.result.dblp.title")}
      </CardTitle>
    </CardHeader>
    <CardBody>
      {#if result.dblp && result.dblp.length > 0}
        {#each result.dblp as r}
          <Result result="{r}" />
        {/each}
      {:else}
        {$_("component.PreprintResolver.result.dblp.no_information")}
      {/if}
    </CardBody>
  </Card>

  <Card>
    <CardHeader>
      <CardTitle>
        {$_("component.PreprintResolver.result.openalex.title")}
      </CardTitle>
    </CardHeader>
    <CardBody>
      {#if result.openalex && result.openalex.length > 0}
        {#each result.openalex as r}
          <Result result="{r}" />
        {/each}
      {:else}
        {$_("component.PreprintResolver.result.openalex.no_information")}
      {/if}
    </CardBody>
  </Card>

  <Card>
    <CardHeader>
      <CardTitle>
        {$_("component.PreprintResolver.result.cross_ref.title")}
      </CardTitle>
    </CardHeader>
    <CardBody>
      {#if result.cross_ref && result.cross_ref.length > 0}
        {#each result.cross_ref as r}
          <Result result="{r}" />
        {/each}
      {:else}
        {$_("component.PreprintResolver.result.cross_ref.no_information")}
      {/if}
    </CardBody>
  </Card>

  <JsonViewCard title="{$_("component.PreprintResolver.result.raw.title")}" jsonObject="{result}" />
{/if}
