<script>
  import { _ } from "svelte-i18n";

  import CopyToClipboardButton from "$lib/components/button/CopyToClipboardButton.svelte";

  export let result;
</script>

{#if typeof result.citationCount !== "undefined"}
  <div>
    {$_("component.Result.citation_count")}: {result.citationCount}
  </div>
{/if}

{#if typeof result.highlyInfluentialCitationCount !== "undefined"}
  <div>
    {$_("component.Result.highly_influential_citation_count")}: {result.highlyInfluentialCitationCount}
  </div>
{/if}

{#if typeof result.citationCount !== "undefined" && typeof result.referenceDate !== "undefined"}
  <div>
    {$_("component.Result.citation_reference_date")}: {result.referenceDate}
  </div>
{/if}

{#if typeof result.jcrImpactFactor !== "undefined"}
  <div>
    {$_("component.Result.jcr_impact_factor")}: {result.jcrImpactFactor.impactFactor} (Journal: {result.jcrImpactFactor.journalTitle}, {$_("component.Result.year")}: {result.jcrImpactFactor.year})
  </div>
{/if}

{#if typeof result.scimagoJournalRanking !== "undefined"}
  <div>
    {$_("component.Result.scimago_journal_ranking")}: {result.scimagoJournalRanking.rank}, hIndex: {result.scimagoJournalRanking.hIndex}, SJR: {result.scimagoJournalRanking.sjr}, best quartile: {result.scimagoJournalRanking.sjrBestQuartile} (Journal: {result.scimagoJournalRanking.journalTitle}, {$_("component.Result.year")}: {result.scimagoJournalRanking.ScimagoYear})
  </div>
{/if}

<pre>{result.latexString}</pre>
<CopyToClipboardButton text="{result.latexString}"></CopyToClipboardButton>
