<script>
  import { onMount } from "svelte";
  import { _ } from "svelte-i18n";

  import {
    Card,
    CardBody,
    CardHeader,
    CardTitle,
  } from "@sveltestrap/sveltestrap";

  import PageHeader from "$lib/components/PageHeader.svelte";
  import SbomTable from "../../lib/components/about/SbomTable.svelte";

  onMount(async () => {
    jQuery('.table').bootstrapTable();
  });
</script>

<PageHeader heading="{$_("page.about.nav")}" intro="{$_("page.about.intro")}" />

<Card class="mb-3">
  <CardHeader>
    <CardTitle>{$_("page.about.card.team.title")}</CardTitle>
  </CardHeader>
  <CardBody>
    <div class="d-grid gap-3">
      <ul class="list-group">
        <li class="list-group-item"><a href="https://www.fh-dortmund.de/personen/Louise-Bloch/index.php">Louise Bloch, M.Sc.</a></li>
        <li class="list-group-item"><a href="https://www.fh-dortmund.de/personen/Johannes-Ruckert/index.php">Johannes Rückert, M.Sc.</a></li>
        <li class="list-group-item"><a href="https://www.fh-dortmund.de/personen/Christoph_M.-Friedrich/index.php">Prof. Dr.-Ing. Christoph M. Friedrich</a>, {$_("page.about.project_lead")}</li>
      </ul>
    </div>
  </CardBody>
</Card>

<Card class="mb-3">
  <CardHeader>
    <CardTitle>Software Bill of Materials</CardTitle>
  </CardHeader>
  <CardBody>
    <p>{$_("page.about.apis")}</p>
    <SbomTable />
  </CardBody>
</Card>
