<script>
  import { _ } from "svelte-i18n";

  import PageHeader from "$lib/components/PageHeader.svelte";
</script>

<PageHeader heading="{$_("page.imprint.nav")}" intro="{$_("page.imprint.content")}" />
