<script>
  import { _ } from "svelte-i18n";

  import { Table } from "@sveltestrap/sveltestrap";

  import PageHeader from "$lib/components/PageHeader.svelte";
</script>

<PageHeader heading="{$_("page.privacy.nav")}" />

<h3>{@html $_("page.privacy.responsible.title")}</h3>

<p>{@html $_("page.privacy.responsible.content")}</p>

<h3>{@html $_("page.privacy.address.title")}</h3>

<p>{@html $_("page.privacy.address.content")}</p>

<h3>{@html $_("page.privacy.general.title")}</h3>

<h4>{@html $_("page.privacy.general.scope.title")}</h4>

<p>{@html $_("page.privacy.general.scope.content")}</p>

<h4>{@html $_("page.privacy.general.legal_basis.title")}</h4>

<p>{@html $_("page.privacy.general.legal_basis.content")}</p>

<h4>{@html $_("page.privacy.general.deletion_retention.title")}</h4>

<p>{@html $_("page.privacy.general.deletion_retention.content")}</p>

<h3>{@html $_("page.privacy.website.title")}</h3>

<h4>{@html $_("page.privacy.website.scope.title")}</h4>

<p>{@html $_("page.privacy.website.scope.content")}</p>

<h4>{@html $_("page.privacy.website.legal_basis.title")}</h4>

<p>{@html $_("page.privacy.website.legal_basis.content")}</p>

<h4>{@html $_("page.privacy.website.purpose.title")}</h4>

<p>{@html $_("page.privacy.website.purpose.content")}</p>

<h4>{@html $_("page.privacy.website.retention.title")}</h4>

<p>{@html $_("page.privacy.website.retention.content")}</p>

<h4>{@html $_("page.privacy.website.objection.title")}</h4>

<p>{@html $_("page.privacy.website.objection.content")}</p>

<h3>{@html $_("page.privacy.rights.title")}</h3>

<p>{@html $_("page.privacy.rights.content")}</p>

<h3>APIs</h3>

<p>
  {$_("page.privacy.table_intro")}
</p>

<Table>
  <thead>
    <tr>
      <th>{$_("page.privacy.table.header.service")}</th>
      <th>{$_("page.privacy.table.header.used_by")}</th>
      <th>{$_("page.privacy.table.header.data")}</th>
      <th>{$_("page.privacy.table.header.purpose")}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <a href="https://www.semanticscholar.org/">Semantic Scholar</a>
        (<a href="https://allenai.org/terms">{$_("page.privacy.table.content.tos")}</a>)
      </th>
      <td>literature-databases</td>
      <td>{$_("page.privacy.table.content.semantic_scholar.data")}</td>
      <td>{$_("page.privacy.table.content.semantic_scholar.purpose")}</td>
    </tr>
    <tr>
      <th scope="row">
        <a href="https://www.crossref.org/">CrossRef / CrossCite</a>
        (<a href="https://api.crossref.org/swagger-ui/index.html">API</a>)
      </th>
      <td>literature-databases</td>
      <td>{$_("page.privacy.table.content.crossref.data")}</td>
      <td>{$_("page.privacy.table.content.crossref.purpose")}</td>
    </tr>
    <tr>
      <th scope="row">
        <a href="https://dblp.uni-trier.de/">DBLP</a>
        (<a href="https://dblp.uni-trier.de/db/about/copyright.html">{$_("page.privacy.table.content.tos")}</a>)
      </th>
      <td>literature-databases</td>
      <td>{$_("page.privacy.table.content.dblp.data")}</td>
      <td>{$_("page.privacy.table.content.dblp.purpose")}</td>
    </tr>
    <tr>
      <th scope="row">
        <a href="https://openalex.org/">OpenAlex</a>
        (<a href="https://docs.openalex.org/how-to-use-the-api/api-overview">API</a>)
      </th>
      <td>literature-databases</td>
      <td>{$_("page.privacy.table.content.open_alex.data")}</td>
      <td>{$_("page.privacy.table.content.open_alex.purpose")}</td>
    </tr>
  </tbody>
</Table>
